{% extends 'base.html' %}
{% block content %}
    <div class="col">
        <h2>Login</h2>

        <!-- Formulario -->
        <form  class="user" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="col-lg-6 col-md-9 col-sm-12">
              <div class="form-group">
                <input id="id_username" type="text" placeholder="Usuario o Email" name="username" autocomplete="username" class="form-control form-control-user" required="" aria-describedby="emailHelp" />
              </div>
              <div class="form-group">
                <input required="" id="id_password" type="password" placeholder="Contraseña" name="password" autocomplete="current-password" class="form-control form-control-user" aria-describedby="emailHelp"/>
              </div>
              <input type="submit" class="btn btn-primary btn-user btn-block" value="login"></input>
              <input type="hidden" name="next" value="{{ next }}" />
              {% if form.errors %}
              <hr>
              <p class="btn btn-user btn-block">
                El Usuario y la contraseña no coinciden. Por favor, intenta de nuevo
              </p>
              {% endif %}  
            </div>
        </form>
    </div>
{% endblock %}