<div class="card">
    <div class="card-header">
      <h5 class="card-title">Ticket de Pago</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="card-title">
          Nombre: Jose Castillo
        </div >
      </div>
      <div class="row">
        <div class="card-title">
          Concepto: 1000 mts3
        </div >
      </div>
      <div class="row">
        <div class="card-title">
          Estado: Pagado
        </div >
      </div>
    </div>
  </div>
