<form id="form_house" action="{% url 'houses:list' %}">
    <div class="form-group">
      <label for="">Calle 1:</label>
      <input required type="text" api="water_control" class="form-control" name="line1" id="line1" placeholder="Calle San Patricio">
    </div>

    <div class="form-group">
        <label for="">Calle 2:</label>
        <input type="text" api="water_control" class="form-control" name="line2" id="line2"placeholder="Calle Nueva Granada">
    </div>

    <div class="form-group">
        <label for="">Codigo Postal:</label>
        <input required type="text" api="water_control" class="form-control" name="zip_code" id="zipcode" placeholder="DXW-3301">
    </div>

    <div class="form-group">
        <label for="house">Identificación:</label>
        <input required type="text" api="water_control" class="form-control" name="house_id" id="house" aria-describedby="helpHouse" placeholder="ABC-123">
        <small id="helpHouse" class="form-text text-muted">El numero o alfanumerico de identificacion de la casa o establacimiento</small>
    </div>
  
    <button type="submit" class="btn btn-primary">Crear</button>

</form>